{% extends 'base.html' %}
{% block content %}

          <style>

            .buttons{
                width: 100px;
            }
    
    
            </style>  
         
        
        <center><h1 style="padding-top: 25px;">Add a new note: </h1>

        <p class="card-text">
            <form method="POST" style="width:500px;">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">
                Add Note
              </button>
            </form>
        </p>

        {% if user.is_authenticated and user == notes.user %}

        <div style="display: flex; justify-content:space-evenly; flex-wrap: wrap;">
        
              {% for note in notes %}  
              <div class="card" style="width: 300px; padding:20px; margin:20px;">
                  <b><p class="card-text">{{ note.text }}</p></b>
                  <p class="card-text">{{ note.date }}</p>
                  <div>
                  <a class="btn btn-light"href="edit/{{ note.id }}">Edit</a>
                  <a class="btn btn-danger"href="delete/{{ note.id }}">Delete</a> 
                  </div>
              </div>
              {% endfor %}
          
        </div>
        {% else %}

          <h3>You have no notes</h3>

        </center>
        {% endif %}
        
{% endblock content %}